# Raspberry Pi Pico W WiFi driver options

# Copyright (c) 2023 Beechwoods Software
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_CYW43
	bool "Infineon CYW43 Wifi support"
	default y
	select NET_L2_WIFI_MGMT
	select WIFI_USE_NATIVE_NETWORKING
	select NET_OFFLOAD
	select NET_SOCKETS
	imply NET_SOCKETS_OFFLOAD

	select SPI
	select SPI_RPI_PICO_PIO
	
	#select PICOSDK_USE_DMA
	#select PICOSDK_USE_CLAIM
	#select PICOSDK_USE_GPIO	
	#select PICOSDK_USE_PWM
	
if WIFI_CYW43

config WIFI_CYW43_SHELL
	bool "CYW43 shell"
	depends on SHELL
	help
	  Enable CYW43 shell

config WIFI_CYW43_USE_CYW4343W
	bool "Use Infineon CYW4343W chip"
	help
		Use firmware for the CYW4343W chip in place of
		the CYW43439 on the Raspberry Pi Pico W.

endif
