/*
 * Copyright (c) 2023 Dave Rensberger - Beechwoods Software
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "rpi_pico-common.dtsi"

&pinctrl {
	pio0_spi0_default: pio0_spi0_default {
		group1 {
			pinmux = <PIO0_P25>, <PIO0_P29>, <PIO0_P23>;
		};
		group2 {
			pinmux = <PIO0_P24>;
			input-enable;
		};
	};

};

&pio0 {
 	status = "okay";

	pio0_spi0: pio0_spi0 {
		pinctrl-0 = <&pio0_spi0_default>;
		pinctrl-names = "default";

		compatible = "raspberrypi,pico-spi-pio";
		status = "okay";
	};
};

&pio0_spi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	clocks = < &peripheral_clk >;
	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
	clk-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
	miso-gpios = <&gpio0 24 0>;
	mosi-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&pio0_spi0_default>;
	pico_w_cyw43_0@0 {
		compatible = "pico_w_cyw43";
		reg = <0>;
		spi-max-frequency = <4000000>; /* Setting at 4Mhz because that's what picowi had, but may decrease if there are probems */
		wl-on = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		cyw43_led0: cyw43_led0 {		/* Pico W LED is on CYW43439 GPIO 0 */
		      compatible = "gpio-leds";
		      gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		      label = "LED";
		};

	};
};
